---
layout: generic

title: Robert W. McGee | Novelista
description:
keywords:
language: es

books:
  - title: Homicidio Justificado
    link: content/books/justifiable-homicide.html
    cover: /media/assets/img/works/jh/cover-es.jpg
  - title: Annie y el Senador
    link: content/books/annie-and-the-senator.html
    cover: /media/assets/img/works/as/cover-es.jpg
  - title: TSA Contra el Pueblo
    link: content/books/tsa-vs-the-people.html
    cover: /media/assets/img/works/tsa/cover-es.jpg

heading_title: Literatura por
---

<%= partial "content/includes/header-generic" %>

<!-- Main -->
<section id="main" class="wrapper">
  <div class="container">

    <header class="major special">
      <h2><%= current_page.data.heading_title %></h2>
      <p>Robert W. McGee</p>
    </header>


    <!-- Image -->
      <section>
        <div class="box alt">
          <div class="row 50% uniform">

            <% current_page.data.books.each do | book | %>
              <div class="4u">
                <a href="<%= book.link %>">
                  <span class="image fit"><img src="<%= book.cover %>" alt="<%= book.title %>" /></span>
                </a>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </section>


  </div>
</section>

<%= partial "content/includes/footer" %>