<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
    <title><%= current_page.data.title || "Robert W McGee" %></title>

    <meta content='<%= current_page.data.description %>' name='description'>
    <meta content='index,follow' name='robots'>
    <meta content='<%= current_page.data.keywords %>' name='keywords'>
    <meta content='<%= current_page.data.language || "en" %>' http-equiv='content-language'>
    <meta charset='utf-8'>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <%= javascript_include_tag  "jquery.min", "skel.min", "skel-layers.min", "init", "lity.min", "analytics"  %>
    <%= stylesheet_link_tag "skel", "style", "style-xlarge" %>

	</head>
	<body>
    <%= yield %>
	</body>
</html>