---
layout: generic

title: Books by Robert W. McGee | Amazon Best Selling Author
description:
keywords: 
language: 

books:
  - title: Justifiable Homicide - A Political Thriller
    link: content/books/justifiable-homicide.html
    cover: /media/assets/img/works/jh/cover.jpg
  - title: Annie and the Senator
    link: content/books/annie-and-the-senator.html
    cover: /media/assets/img/works/as/cover.jpg
  - title: TSA vs the People
    link: content/books/tsa-vs-the-people.html
    cover: /media/assets/img/works/tsa/cover.jpg
  - title: Iraqi Girl
    link: content/books/the-iraqi-girl.html
    cover: /media/assets/img/works/ig1/cover.jpg
  - title: Iraqi Girl 2 - Just Following Orders
    link: content/books/just-following-orders.html
    cover: /media/assets/img/works/ig2/cover.jpg

heading_title: Books by
---

<%= partial "content/includes/header-generic" %>

<!-- Main -->
<section id="main" class="wrapper">
  <div class="container">

    <header class="major special">
      <h2><%= current_page.data.heading_title %></h2>
      <p>Robert W. McGee</p>
    </header>


    <!-- Image -->
      <section>
        <div class="box alt">
          <div class="row 50% uniform">

            <% current_page.data.books.each do | book | %>
              <div class="4u">
                <a href="<%= book.link %>">
                  <span class="image fit"><img src="<%= book.cover %>" alt="<%= book.title %>" /></span>
                </a>
              </div>
            <% end %>

          </div>
        </div>
    </section>
  </div>
</section>

<%= partial "content/includes/footer" %>