section#one
  div.inner
    center
      header.major
        h1= heading
        h2= subheading

    span.image.left
      img(src="/assets/books/#{ short }/cover-#{ language }.jpg" alt="#{ heading }")

    p= intro_one
    p= intro_two
    p= intro_three

    script(src="//www.goodreads.com/book/avg_rating_widget/#{ goodreads }")

    br
    br

    center 
      ul.actions
        each button in buttons
          li
            a(class="#{button.css}" href="#{button.link}")= button.title


    