---
layout: generic

title:  Letteratura di Robert W. McGee | Romancier
description:
keywords:
language: it

books:
  - title: Omicidio Giustificato
    link: content/books/justifiable-homicide.html
    cover: /media/assets/img/works/jh/cover-it.jpg
  - title: Annie e il Senatore - Una storia di giustizia private
    link: content/books/annie-and-the-senator.html
    cover: /media/assets/img/works/as/cover-it.jpg
  - title: La TSA contro il popolo
    link: content/books/tsa-vs-the-people.html
    cover: /media/assets/img/works/tsa/cover-it.jpg
  - title: L’irachena - Libro 1 della trilogia (Trilogia dell’irachena)
    link: content/books/the-iraqi-girl.html
    cover: /media/assets/img/works/ig1/cover-it.jpg
  - title: Per pura obbedienza - Trilogia dell’iracna, libro 2
    link: content/books/just-following-orders.html
    cover: /media/assets/img/works/ig2/cover-it.jpg

heading_title: Letteratura di
---

<%= partial "content/includes/header-generic" %>

<!-- Main -->
<section id="main" class="wrapper">
  <div class="container">

    <header class="major special">
      <h2><%= current_page.data.heading_title %></h2>
      <p>Robert W. McGee</p>
    </header>


    <!-- Image -->
      <section>
        <div class="box alt">
          <div class="row 50% uniform">

            <% current_page.data.books.each do | book | %>
              <div class="4u">
                <a href="<%= book.link %>">
                  <span class="image fit"><img src="<%= book.cover %>" alt="<%= book.title %>" /></span>
                </a>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </section>


  </div>
</section>

<%= partial "content/includes/footer" %>