---
title: Robert W. McGee | Autor
layout: generic-sp

books:
  - title: Legitime Tötung
    link: http://amzn.to/1l0Vgcy
    cover: /media/assets/img/works/jh/cover-de.jpg
  - title: Die TSA Gegen das Volk - Eine Geschichte über Vergeltung
    link: http://amzn.to/1Rfv3TF
    cover: /media/assets/img/works/tsa/cover-de.jpg

heading_title: Literatur von
---

<%= partial "includes/header-generic" %>

<!-- Main -->
<section id="main" class="wrapper">
  <div class="container">

    <header class="major special">
      <h2><%= current_page.data.heading_title %></h2>
      <p>Robert W. McGee</p>
    </header>


    <!-- Image -->
      <section>
        <div class="box alt">
          <div class="row 50% uniform">

            <% current_page.data.books.each do | book | %>
              <div class="4u">
                <a href="<%= book.link %>">
                  <span class="image fit"><img src="<%= book.cover %>" alt="<%= book.title %>" /></span>
                </a>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </section>


  </div>
</section>

<%= partial "includes/footer" %>