-# Project: Robert W McGee
-# Domain: robertwmcgee.com

-# Variable Definitions
- title = "About | Amazon bestselling author Robert W. McGee"
- description = "Robert W. McGee is the Amazon Best Selling Author of political thrillers. He has 13 doctorates in countless disciplines. His degrees include accounting, finance, politics, law, philosophy."
- keywords = "robert, mcgee, robert mcgee, robert w mcgee, justifiable, homicide, justifiable homicide, annie, senator, annie and the senator, tsa, people, tsa vs the people, iraqi, girl, iraqi girl"

!!! 5
%html{:lang => "en"}
	-# Head
	%head
		= Haml::Engine.new(File.read('includes/header.haml')).render(Object.new, :title => title, :description => description, :keywords => keywords)
	-# Body
	%body
		#page-wrapper

			// Header
			%header#header
				= Haml::Engine.new(File.read('includes/menu.haml')).render

			// Main
			%section#main.container
				= Haml::Engine.new(File.read('includes/about.haml')).render

			// Newsletter
			%section#cta
				= Haml::Engine.new(File.read('includes/newsletter.haml')).render

			// Footer
			%footer#footer
				= Haml::Engine.new(File.read('includes/footer.haml')).render
