doctype
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(charset="utf-8")

    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")    
    meta(name="google-site-verification" content="YXZ11glRpBzRpUAGq-eOvqtMO6WYIQBvFD8t0JOeJZw")
    meta(name="yandex-verification" content="448bbcf90fc958e0")
    meta(name="msvalidate.01" content="60B659858656FE01197437DBF9B5D117")

    meta(name="description" content="#{ description }")
    meta(name="keywords" content="#{ keywords }")

    meta(property="og:url" content="#{ featuredUrl }")
    meta(property="og:type" content="#{ featuredType }")
    meta(property="og:title" content="#{ title }")
    meta(property="og:description" content="#{ description }")
    meta(property="fb:app_id" content="177203339503674")
    meta(property="og:image" content="#{ featured }")
    meta(property="og:image:width" content="#{ featuredWidth }")
    meta(property="og:image:height" content="#{ featuredHeight }")
    
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" href="/assets/bx-slider/style.css" type="text/css")

    title= title

    script(src="https://cdn.ravenjs.com/3.9.1/raven.min.js")
    script(src="/assets/js/debug/sentry.js")

  body
    div#wrapper
      != yield