		<!-- Header -->
			<header id="header" class="alt">

				<h1><strong><a href="/">Robert W. McGee</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><%= link_to 'Letteratura', 'index.html' %></li>
			            <!--<li><%= link_to 'Autor', 'about.html' %></li> -->
			            <!-- <li><%= link_to 'Tienda', 'store.html' %></li> -->
			            <!-- <li><%= link_to 'Videos', 'media.html' %></li> -->
			            <!-- <li><%= link_to 'Conecta', 'connect.html' %></li> -->
					</ul>
				</nav>
			</header>